html 
  head
    include headCode
    title Стартовая страница 2
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")

    //script(src="js/mainTerminal.js")
    script(src="js/new/script_4.js")
    
    header.header
      .bg-fone-header
      .head-title
        p Подбор растений для дома
      
      .head-bottom-line

  body 
    .add-1
    .n_but.n_but_2 
      p Решатель задач
    .n_but 
      p Редактор знаний
    .remark   
      p <b>Примечание:</b>
      p <u>База знаний</u> отображается в <i>Редакторе знаний</i>. Там-же реализован функционал <u>редактора знаний</u> 
      p <u>Система ввода исходных данных</u>, интегрирована в <i>Решатель задач</i>
      p <u>Система объяснения и вывода результата</u> будет отображена, после того, как пользователь введёт необходимые входные данные, в <i>Решателе задач</i>



  footer 
    .version 
      p 2.0.01
    p 
      a(href = 'page_2.html') О проекте