html 
  head
    include headCode
    title Стартовая страница 2
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")

    //script(src="js/mainTerminal.js")
    
    header.header
      .bg-fone-header
      .head-title
        p Подбор растений для дома
      
      .head-bottom-line

  body 
    .n_but 
      p Редактор знаний
    .n_but 
      p Решатель задач
    .remark   
      p База знаний отображается в Редакторе знаний. Там-же реализован функционал редактора знаний 
      p Система ввода исходных данных, интегрирована в Решатель задач
      p Система объяснения и вывода результата будет отображена, после того, как вользователь введёт необходимые входные данные, в Решателе задач



  footer 
    .version 
      p 2.0
    p 
      a(href = 'page_2.html') О проекте