html 
  head
    include headCode
    title Решатель задач
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")

    //script(src="js/mainTerminal.js")
    script(src="js/new/script_6.js")
    
    header.header
      .bg-fone-header
      .head-title
        p Подбор растений для дома
      
      .head-bottom-line

  body.pg-5
    p.pg4-p1 Решатель задач
    .pg5-block-vew-pl-list
      p Выберете и задайте значения, для одной или нескольких характерисик, и решатель подберёт набор растений на их основе:
      .pg5-div-triple-rows
        span.lab-pg5 Освещение
        .pg5-input-cont
          input(type="range" min="1" max="10" value="0")
          .pg5-input-hints
            span.pg5-lvl2-input-left-hint 1
            span.pg5-lvl2-input-right-hint 10
        .pg5-block
          span Reset
      .pg5-div-triple-rows
        span.lab-pg5 Переносимость прямого света
        .pg5-input-cont.pg5-input-cont-pointers
          .input-point-container
            input(type="radio" name="first-light" id="1")
            span Да
          .input-point-container
            input(type="radio" name="first-light" id="2")
            span Средне
          .input-point-container
            input(type="radio" name="first-light" id="3")
            span Нет
        .pg5-block
          span Reset
      
      .pg5-group-sep
      .pg5-div-triple-rows
        span.lab-pg5 Относительная влажность
        .pg5-input-cont
          input(type="range" min="1" max="10" value="0")
          .pg5-input-hints
            span.pg5-lvl2-input-left-hint 10%
            span.pg5-lvl2-input-right-hint 90%
        .pg5-block
          span Reset
      .pg5-div-triple-rows
        span.lab-pg5 Температура
        .pg5-input-cont
          input(type="range" min="1" max="10" value="0")
          .pg5-input-hints
            span.pg5-lvl2-input-left-hint -20 ℃
            span.pg5-lvl2-input-right-hint 35 ℃
        .pg5-block
          span Reset
      
      .pg5-group-sep
      .pg5-div-triple-rows
        span.lab-pg5 Тип растения
        .pg5-input-cont.pg5-input-cont-pointers.pg5-cont-2
          .input-point-container
            input(type="radio" name="plant-type" id="1")
            span Домашнее
          .input-point-container
            input(type="radio" name="plant-type" id="2")
            span Уличное
        .pg5-block
          span Reset
      .pg5-div-triple-rows
        span.lab-pg5 Плодоносное?
        .pg5-input-cont.pg5-input-cont-pointers.pg5-cont-2
          .input-point-container
            input(type="radio" name="is-plod" id="1")
            span Да
          .input-point-container
            input(type="radio" name="is-plod" id="2")
            span Нет
        .pg5-block
          span Reset
      
      .pg5-group-sep
      .pg5-div-triple-rows
        span.lab-pg5 Выработка кислорода
        .pg5-input-cont
          input(type="range" min="1" max="10" value="0")
          .pg5-input-hints
            span.pg5-lvl2-input-left-hint [1
            span.pg5-lvl2-input-right-hint 10]
        .pg5-block
          span Reset
      .pg5-div-triple-rows
        span.lab-pg5 Занимаемая площадь
        .pg5-input-cont
          input(type="range" min="1" max="10" value="0") 
          //, style="background-color: #ff0000;")
          .pg5-input-hints
            span.pg5-lvl2-input-left-hint [1
            span.pg5-lvl2-input-right-hint 10]
        .pg5-block
          span Reset
      .pg5-div-triple-rows
        span.lab-pg5 Уход за растением 
        span.pg5-lvl2-line-down-2 (кол-во дней)
        .pg5-input-cont
          input(type="range" min="1" max="10" value="0")
          .pg5-input-hints
            span.pg5-lvl2-input-left-hint [1
            span.pg5-lvl2-input-right-hint 10]
        .pg5-block
          span Reset
      
      .pg5-group-sep
      .pg5-div-triple-rows
        span.lab-pg5 Цвет растения 
        //- .pg5-select-cont
        //-   select#select-color
        //-     option(value="1") Зелёный
        //-     option(value="2") Красный
        //-     option(value="3") Синий
        //-     option(value="4") ...
        .pg5-checkbox-cont
          .input-checkbox-container
            input(type="checkbox" id="green" value="1")
            label(for="green") Зелёный
          .input-checkbox-container
            input(type="checkbox" id="red" value="2")
            label(for="red") Красный
          .input-checkbox-container
            input(type="checkbox" id="blue" value="3")
            label(for="blue") Синий
          .input-checkbox-container
            input(type="checkbox" id="other" value="4")
            label(for="other") ...
        .pg5-block
          span Reset
      .pg5-div-triple-rows
        span.lab-pg5 Известное растение?
        .pg5-input-cont.pg5-input-cont-pointers.pg5-cont-2
          .input-point-container
            input(type="radio" name="is-raritet" id="1")
            span Да
          .input-point-container
            input(type="radio" name="is-raritet" id="2")
            span Нет
        .pg5-block
          span Reset
      .pg5-start-button
        span Подобрать набор растений
      p.pg5-add-p-1 <i>Выберете значение хотя бы в одном поле</i>
    .pg5-block-vew-pl-list.pg5-block-2
      p.pg5-p1 Вот такие растения мы подобрали для вас:
      .pg5-lvl2-cont-1



        .pg5-lvl2-block
          .pg5-lvl3-block1
            p <b>Тип климата:</b>
            p.ital Субтропический
          .pg5-lvl3-block2
            .pg5-lvl4-block1-img
              img(src="img/all-plants-photo/Растение Агапантус.jpg")
            .pg5-lvl44-name-pl-2
              p.pg5-lvl4-name-pl Кофейное дерево (кофе)
          .pg5-lvl3-block3
            p <b>Аллелопатия:</b>
            p.ital Нейтральная
        .pg5-lvl2-block
          .pg5-lvl3-block1
            p <b>Тип климата:</b>
            p.ital Субтропический
          .pg5-lvl3-block2
            .pg5-lvl4-block1-img
              img(src="img/all-plants-photo/Растение Агапантус.jpg")
            .pg5-lvl44-name-pl-2
              p.pg5-lvl4-name-pl Лаванда
          .pg5-lvl3-block3
            p <b>Аллелопатия:</b>
            p.ital Нейтральная
        .pg5-lvl2-block
          .pg5-lvl3-block1
            p <b>Тип климата:</b>
            p.ital Субтропический
          .pg5-lvl3-block2
            .pg5-lvl4-block1-img
              img(src="img/all-plants-photo/Растение Агапантус.jpg")
            .pg5-lvl44-name-pl-2
              p.pg5-lvl4-name-pl Лаванда
          .pg5-lvl3-block3
            p <b>Аллелопатия:</b>
            p.ital Нейтральная
      .pg5-fack-block
        .pg5-req-butt
          p Почему это растение попало в набор?
        .pg5-req-butt
          p Почему это растение попало в набор?          
        .pg5-req-butt
          p Почему это растение попало в набор?
      .pg5-p4-block
        p В данном наборе <b>все</b> растения удовлетворяют критериям совместимости, а именно - один тип климата, и положительная либо нейтральная аллелопатия.
        p Для того, что бы узнать, согласно каким именно характеристикам, в набор было помещено конкретное растение - <u>нажмите на кнопку пояснения</u>, ниже карточки растения.
      .pg5-start-button.pg5-start-button-2
        span Пройти ещё раз
    .pg5-block-vew-pl-list.pg5-block-2.pg5-block-3
      p.pg5-p1 Результаты:
      p К сожалению, мы не смогли подобрать для вас набор растений, по указанным вами характеристикам.
      p Пожалуйста, попробуйте ещё раз - выберете другие характеристики.
      p.gr Если это сообщение появляется слишком часто, укажите значения для 1-2 характеристик, не больше. И помните, чем больше цветов растения вы выберете - тем больше будет результатов.
      .pg5-start-button.pg5-start-button-2
        span Попробовать ещё раз

    .pg5-block-vew-pl-list.pg5-block-2.pg5-block-4
      p.pg5-p1 Модуль объяснения результата:
      .pg5-block-4-name-of-palnt
        span Растение с названием: 
        span.pg-5-el-2 Кофейное дерево (кофе) 
      p Попало в набор, потому что имеет характеристики:
      .pg5-div-text-descr-charact
        p Если это сообщение появляется слишком часто, укажите значения для 1-2 характеристик, не больше. И помните, чем больше цветов растения вы выберете - тем больше будет результатов.
      p А запрос на выборку растений по заданным характеристикам, выглядел следующим образом:
      .pg5-div-text-descr-charact
        p Если это сообщение появляется слишком часто, укажите значения для 1-2 характеристик, не больше. И помните, чем больше цветов растения вы выберете - тем больше будет результатов.
      p Из этого видно, что по значениям характеристик, растение попадает под заданную выборку, которую ввёл ползователь.

    .h20
    .butt_back.n_but
      p Назад

  footer 
    .version 
      p 2.0
    p 
      a(href = 'page_2.html') О проекте