html 
  head
    include headCode
    title Решатель задач
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")

    //script(src="js/mainTerminal.js")
    script(src="js/new/script_6.js")
    
    header.header
      .bg-fone-header
      .head-title
        p Подбор растений для дома
      
      .head-bottom-line

  body.pg-5
    p.pg4-p1 Решатель задач
    .pg5-block-vew-pl-list
      p Выберете и задайте значения, для одной или нескольких характерисик, и решатель подберёт набор растений на их основе:
      .pg5-div-triple-rows
        span.lab-pg5 Освещение
        .pg5-input-cont
          input(type="range" min="1" max="10" value="0")
          .pg5-input-hints
            span.pg5-lvl2-input-left-hint 1
            span.pg5-lvl2-input-right-hint 10
        .pg5-block
          span Reset
      .pg5-div-triple-rows
        span.lab-pg5 Переносимость прямого света
        .pg5-input-cont.pg5-input-cont-pointers
          .input-point-container
            input(type="radio" name="first-light" id="1")
            span Да
          .input-point-container
            input(type="radio" name="first-light" id="2")
            span Средне
          .input-point-container
            input(type="radio" name="first-light" id="3")
            span Нет
        .pg5-block
          span Reset
      
      .pg5-group-sep
      .pg5-div-triple-rows
        span.lab-pg5 Относительная влажность
        .pg5-input-cont
          input(type="range" min="1" max="10" value="0")
          .pg5-input-hints
            span.pg5-lvl2-input-left-hint 10%
            span.pg5-lvl2-input-right-hint 90%
        .pg5-block
          span Reset
      .pg5-div-triple-rows
        span.lab-pg5 Температура
        .pg5-input-cont
          input(type="range" min="1" max="10" value="0")
          .pg5-input-hints
            span.pg5-lvl2-input-left-hint -20 ℃
            span.pg5-lvl2-input-right-hint 35 ℃
        .pg5-block
          span Reset
      
      .pg5-group-sep
      .pg5-div-triple-rows
        span.lab-pg5 Тип растения
        .pg5-input-cont.pg5-input-cont-pointers.pg5-cont-2
          .input-point-container
            input(type="radio" name="plant-type" id="1")
            span Домашнее
          .input-point-container
            input(type="radio" name="plant-type" id="2")
            span Уличное
        .pg5-block
          span Reset
      .pg5-div-triple-rows
        span.lab-pg5 Плодоносное?
        .pg5-input-cont.pg5-input-cont-pointers.pg5-cont-2
          .input-point-container
            input(type="radio" name="is-plod" id="1")
            span Да
          .input-point-container
            input(type="radio" name="is-plod" id="2")
            span Нет
        .pg5-block
          span Reset
      
      .pg5-group-sep
      .pg5-div-triple-rows
        span.lab-pg5 Выработка кислорода
        .pg5-input-cont
          input(type="range" min="1" max="10" value="0")
          .pg5-input-hints
            span.pg5-lvl2-input-left-hint [1
            span.pg5-lvl2-input-right-hint 10]
        .pg5-block
          span Reset
      .pg5-div-triple-rows
        span.lab-pg5 Занимаемая площадь
        .pg5-input-cont
          input(type="range" min="1" max="10" value="0") 
          //, style="background-color: #ff0000;")
          .pg5-input-hints
            span.pg5-lvl2-input-left-hint [1
            span.pg5-lvl2-input-right-hint 10]
        .pg5-block
          span Reset
      .pg5-div-triple-rows
        span.lab-pg5 Уход за растением 
        span.pg5-lvl2-line-down-2 (кол-во дней)
        .pg5-input-cont
          input(type="range" min="1" max="10" value="0")
          .pg5-input-hints
            span.pg5-lvl2-input-left-hint [1
            span.pg5-lvl2-input-right-hint 10]
        .pg5-block
          span Reset
      
      .pg5-group-sep
      .pg5-div-triple-rows
        span.lab-pg5 Цвет растения 
        //- .pg5-select-cont
        //-   select#select-color
        //-     option(value="1") Зелёный
        //-     option(value="2") Красный
        //-     option(value="3") Синий
        //-     option(value="4") ...
        .pg5-checkbox-cont
          .input-checkbox-container
            input(type="checkbox" id="green" value="1")
            label(for="green") Зелёный
          .input-checkbox-container
            input(type="checkbox" id="red" value="2")
            label(for="red") Красный
          .input-checkbox-container
            input(type="checkbox" id="blue" value="3")
            label(for="blue") Синий
          .input-checkbox-container
            input(type="checkbox" id="other" value="4")
            label(for="other") ...
        .pg5-block
          span Reset
      .pg5-div-triple-rows
        span.lab-pg5 Известное растение?
        .pg5-input-cont.pg5-input-cont-pointers.pg5-cont-2
          .input-point-container
            input(type="radio" name="is-raritet" id="1")
            span Да
          .input-point-container
            input(type="radio" name="is-raritet" id="2")
            span Нет
        .pg5-block
          span Reset
      .pg5-start-button
        span Подобрать
      p.pg5-add-p-1 Выберете значение хотя бы в одном поле
    .pg5-block-vew-pl-list.pg5-block-2
      p.pg5-p1 Вот такие растения мы подобрали для вас:
      .pg5-lvl2-cont-1



        .pg5-lvl2-block
          .pg5-lvl3-block1
            p <b>Тип климата:</b>
            p.ital Субтропический
          .pg5-lvl3-block2
            .pg5-lvl4-block1-img
              img(src="img/all-plants-photo/Растение Агапантус.jpg")
            .pg5-lvl44-name-pl-2
              p.pg5-lvl4-name-pl Кофейное дерево (кофе)
          .pg5-lvl3-block3
            p <b>Аллелопатия:</b>
            p.ital Нейтральная
        .pg5-lvl2-block
          .pg5-lvl3-block1
            p <b>Тип климата:</b>
            p.ital Субтропический
          .pg5-lvl3-block2
            .pg5-lvl4-block1-img
              img(src="img/all-plants-photo/Растение Агапантус.jpg")
            .pg5-lvl44-name-pl-2
              p.pg5-lvl4-name-pl Лаванда
          .pg5-lvl3-block3
            p <b>Аллелопатия:</b>
            p.ital Нейтральная
        .pg5-lvl2-block

    .h200
    .butt_back.n_but
      p Назад

  footer 
    .version 
      p 2.0
    p 
      a(href = 'page_2.html') О проекте