html 
  head
    include headCode
    title Редактор знаний
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")

    //script(src="js/mainTerminal.js")
    // Возможно потом заменить на другой скрипт
    script(src="js/new/script_5.js") 
    
    header.header
      .bg-fone-header
      .head-title
        p Подбор растений для дома
      
      .head-bottom-line

  body 
    p.pg4-p1 Редактор базы знаний
    .block-vew-pl-list
      p Список всех записей о растениях:

      .cont-4-1
        .main-pl-list-cont-pg4
          .el-pl-cont-4 блок 1
          .el-pl-cont-4 блок 2
          .el-pl-cont-4 блок 3
          .el-pl-cont-4 блок 4
          .el-pl-cont-4 блок 5
        .right-container 
          .butt-4-1 
            span К первой записи
          .butt-4-1 
            span Следующая запись
          .butt-4-1 
            span Предыдущая запись
          .butt-4-1 
            span К последней записи
      p.p-4-1 Выберете одно растение из списка, и вы сможете просмотреть все его характеристики, и отредактировать их.
    .block-vew-pl-list.p-4-3-add
      p Все характеристики этой записи о растении:
      .cont-dooble-4-3
        span Название растения:
        input(type="text")
        span.add-4-4 text
      .cont-dooble-4-3
        span Минимальное освещение:
        input(type="text", inputmode="numeric")
        span.add-4-4 int
      p.aaa4 ...
      .cont-dooble-4-3
        span Переносимость прямого света:
        select#select-light
          option(value="yes", selected) Да
          option(value="no") Нет
          option(value="medium") Средне
        span.add-4-4 select
      .cont-dooble-4-3
        span Тип растения:
        select#select-home
          option(value="yes", selected) Домашнее
          option(value="no") Уличное
        span.add-4-4 select
    .block-vew-pl-list.p-4-2-add
      p + Создать новую запись о растении
    .h200
    .butt_back.n_but
      p Назад
    p ! Прописать настройки для разных разрешений экранов


  footer 
    .version 
      p 2.0
    p 
      a(href = 'page_2.html') О проекте