html 
  head
    include headCode
    title Редактор знаний
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js") 

    //script(src="js/mainTerminal.js")
    script(src="js/new/script_4.js" defer) 
    
    header.header
      .bg-fone-header
      .head-title
        p Подбор растений для дома
      
      .head-bottom-line

  body.pg-4
    p.pg4-p1 Редактор базы знаний
    .upper-block
      .block-vew-pl-list#block-vew-pl-list-first
        p Список всех записей о растениях:

        .cont-4-1
          .main-pl-list-cont-pg4
            .el-pl-cont-4 блок 1
            .el-pl-cont-4 блок 2
            .el-pl-cont-4 блок 3
            .el-pl-cont-4 блок 4
            .el-pl-cont-4 блок 5
          .right-container 
            .butt-4-1#butt-go-top
              span К первой записи
            //- .butt-4-1#butt-go-last
            //-   span Следующая запись
            //- .butt-4-1#butt-go-first
            //-   span Предыдущая запись
            .butt-4-1#butt-go-bottom
              span К последней записи
        p.p-4-1 Выберете одно растение из списка, и вы сможете просмотреть все его характеристики, и отредактировать их.
      .block-vew-pl-list.p-4-3-add#yell-block
        p Все характеристики этой записи о растении:
        .cont-dooble-4-3#param-1
          span Название растения:
          input(type="text")
          span.add-4-4 text
        .cont-dooble-4-3#param-2
          span Минимальное освещение:
          input(type="text", inputmode="numeric")
          span.add-4-4 int
        .cont-dooble-4-3#param-3
          span Максимальное освещение:
          input(type="text", inputmode="numeric")
          span.add-4-4 int
        .cont-dooble-4-3#param-4
          span Переносимость прямого света:
          select#select-light
            option(value="yes") Да
            option(value="no", selected) Нет
            option(value="medium") Средне
          span.add-4-4 select
        .cont-dooble-4-3#param-5
          span Влажность min (%):
          input(type="text", inputmode="numeric")
          span.add-4-4 int
        .cont-dooble-4-3#param-6
          span Влажность max (%):
          input(type="text", inputmode="numeric")
          span.add-4-4 int
        .cont-dooble-4-3#param-7
          span Температура min (℃):
          input(type="text", inputmode="numeric")
          span.add-4-4 int
        .cont-dooble-4-3#param-8
          span Температура max (℃):
          input(type="text", inputmode="numeric")
          span.add-4-4 int
        .cont-dooble-4-3#param-9
          span Тип растения:
          select#select-home
            option(value="yes", selected) Домашнее
            option(value="no") Уличное
          span.add-4-4 select
        .cont-dooble-4-3#param-10
          span Плодоносное?
          select#select-plod
            option(value="yes", selected) Да
            option(value="no") Нет
          span.add-4-4 select
        .cont-dooble-4-3#param-11
          span Выработка кислорода:
          input(type="text", inputmode="numeric")
          span.add-4-4 int
        .cont-dooble-4-3#param-12
          span Занимаемая площадь растения:
          input(type="text", inputmode="numeric")
          span.add-4-4 int
        .cont-dooble-4-3#param-13
          span Уход за растением (кол-во дней):
          input(type="text", inputmode="numeric")
          span.add-4-4 int 
        .cont-dooble-4-3#param-14
          span Цвет растения
          select#select-color
            option(value="1", selected) Зелёный
          span.add-4-4 n-sel
        .cont-dooble-4-3#param-15
          span Тип климата
          select#select-type-cl
            option(value="1", selected) Тропический
          span.add-4-4 n-sel
        .cont-dooble-4-3#param-16
          span Аллелопатия
          select#select-allel
            option(value="1", selected) Нейтральная
          span.add-4-4 n-sel
        .cont-dooble-4-3#param-17
          span Известное растение?
          select#select-compl
            option(value="yes", selected) Да
            option(value="no") Нет
          span.add-4-4 select
        .butt-4-close#b-4-not-edit 
          p Свернуть
        .butt-compl-4
          .butt-4-close#b-4-witch-save
            p Сохранить изменения 
          .butt-4-close#b-4-witch-not-save
            p Закрыть без изменений

    .block-vew-pl-list.p-4-2-add
      p + Создать новую запись о растении

    .block-vew-pl-list.p-4-2-add#key-haract-button
      p Добавить ключевые признаки
    
    //.h21
    .block-vew-pl-list.n-4-5-1#key-haract
      p Ключевые признаки:
      .add-4-4-n
        p.n-4-4-1-n Аллелопатия:
        .div-n-4-4-2 
          table#a12
            thead
              tr
                th Аллелопатия
            tbody
              tr
                td Элемент 1
              tr
                td Элемент 2
              tr
                td ЭлементЭлементЭлемент 3
          .n-4-4-div-2#allelop
            p.nt-4-4-1 Добавить новый признак:
            input(type="text", placeholder="Введите название признака")
            .butt-add-new-pr#allelop-butt-add
              p Добавить
      .add-4-4-n
        p.n-4-4-1-n Тип климата:
        .div-n-4-4-2 
          table#a14
            thead
              tr
                th Тип климата
            tbody
              tr
                td Элемент 1
              tr
                td Элемент 2
              tr
                td ЭлементЭлементЭлемент 3
          .n-4-4-div-2#cl-type
            p.nt-4-4-1 Добавить новый признак:
            input(type="text", placeholder="Введите название признака")
            .butt-add-new-pr.cl-type#cl-type-butt-add
              p Добавить
      .add-4-4-n
        p.n-4-4-1-n Цвет: 
        .div-n-4-4-2 
          table#a16
            thead
              tr
                th Цвет
            tbody
              tr
                td Элемент 1
              tr
                td Элемент 2
              tr
                td Элемент 2
              tr
                td Элемент 2
              tr
                td Элемент 2
              tr
                td Элемент 2
              tr
                td Элемент 2
              tr
                td ЭлементЭлементЭлемент 3
          .n-4-4-div-2
            p.nt-4-4-1 Добавить новый признак:
            input(type="text", placeholder="Введите название признака")
            .butt-add-new-pr#allelop-butt-add-1#color-butt-add
              p Добавить


    //.h200
    .h20
    .butt_back.n_but
      p Назад, в главное меню


  footer 
    .version 
      p 2.0
    p 
      a(href = 'page_2.html') О проекте